<div class="row">
  <div class="col-md-12">
    <h1 class="title">Chat Amongst Yourselves.</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6">

    <div class="title name">You</div>
    <div class="chat-box">
      <ul class="chat-list">
        <li class="chat-line">Hi.</li>
        <li class="chat-line">Hi Yourself.</li>
        <li class="chat-line">Thanks!  You too!</li>
      </ul>
    </div>

    <div class="row">
      <form class="text-box">
        <input class="typing-area" type="textarea">
        <input class="submit-button" type="submit" value="Submit">
      </form>
    </div>
  </div>

  <div class="col-md-6">

    <div class="title name">Your Friend</div>
    <div class="chat-box">
      <ul class="chat-list">
        <li class="chat-line">Hiya.</li>
        <li class="chat-line">You're Hilarious.</li>
        <li class="chat-line">We're the best.</li>
      </ul>
    </div>

    <div class="row">
      <form class="text-box">
        <input class="typing-area" type="textarea">
        <input class="submit-button" type="submit" value="Submit">
      </form>
    </div>
  </div>





</div>